body {
    background-color: #202225;
    color: #dddddd;
    font-family: Arial, sans-serif;
}
.navbar {
    margin-bottom: 30px;

}
.nav-link{
    color: #dddddd;
}
.content {
    margin-top: 30px;
}
h1, h2, h3 {
    color: #dddddd;
    font-weight: bold;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
    margin-top: 20px;
}
h3 {
    font-size: 1.75rem;
    margin-top: 15px;
}
hr{
    color: #ffffff;
}
p {
    font-size: 1.1rem;
    line-height: 1.6;
}
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.footer {
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    background-color: #343a40;
    color: white;
}


.section{
    margin-bottom: 80px;
}

/* Sidebar active link styling */
.sidebar .nav-link.active {
    font-weight: bold;
    color: #81fd0d !important; /* Bootstrap primary color */
    background-color: rgba(4, 23, 54, 0.651); /* Subtle background highlight */
    border-radius: 5px;
}

.sidebar .nav-link {
    color: #cccccc; /* Default color */
    transition: color 0.3s, font-weight 0.3s;
}
